:root {
  --main-background-color: #adee00;
  --submain-background-color: #1a2600;
  --third-background-color: #1a2600;
  --third-color: #1c2700;
  --main-font: "Russo One", sans-serif;
}

.main-bg-color {
  background-color: var(--main-background-color) !important;
}

.submain-bg-color {
  background-color: var(--submain-background-color) !important;
}

.main-color {
  color: var(--main-background-color) !important;
}

button.main-color:hover, a.main-color:hover {
  color: white !important;
}

button.submain-color:hover, a.main-color:hover {
  color: white !important;
}

.submain-color {
  color: var(--submain-background-color) !important;
}

.third-color {
  color: var(--third-color) !important;
}

.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.custom-font {
  font-family: var(--main-font) !important;
  font-weight: 600 !important;
  font-style: normal;
}

.page-footer ul li:before, .page-footer ul li:after {
  background-color: var(--main-background-color);
}

